@{
    ViewData["Title"] = "Home Page";
}

<style>
    input, button, .resultado {
        width: 500px;
        height: 45px;
        margin: 10px;
        border-radius: 5px;
        outline: none;
        border: .5px solid #ddd;
        padding: 5px;
        box-sizing: border-box;
    }

    button {
        background-color: #00ec85;
        cursor: pointer;
    }

    .resultado {
        border: none;
    }
</style>

<input onkeyUp="num(1)" type="text" id="v1" />
<input onkeyup="num(2)" type="text" id="v2" />
<button
 onmouseover="evMouse(1)"
 ondblclick="evMouse(2)"
 onmouseout="evMouse(3)"
 onblur="evMouse(4)">
 Calcular</button>

<div class="resultado"></div>

<script>
    function num(a) {
        console.log(event.keyCode);

        var valor = document.getElementById("v"+a).value;

        var res = document.getElementsByClassName("resultado")[0];
        res.innerHTML = valor;

        if(event.keyCode == 17)
        {
            res.innerHTML = "Tecla <kbd>CTRL</kbd> pressionado."
        }
    }

    function evMouse(e) {
        var v1 = parseFloat(document.getElementById('v1').value);
        var v2 = parseFloat(document.getElementById('v2').value);

        var res = document.getElementsByClassName('resultado')[0];

        switch(e) {
            case 1:
            res.innerHTML = v1 + v2;
            break;
            case 2:
            res.innerHTML = v1 - v2;
            break;
            case 3:
            res.innerHTML = v1/v2;
            break;
            case 4:
            res.innerHTML = v1 * v2;
            break;
            default:
            res.innerHTML = "Operador não encontrado.";
        }
    }
</script>